<% if @project.errors.any? %>
  <div class="alert notification-banner"><%= @project.errors.full_messages.first%></div>
<% end %>
<div class="field">
  <%= form_for ([current_user, @project]) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.label :status %>
    <%= f.select(:status, ['Open', 'Closed']) %>
    <%= f.submit %>
  <% end %>
</div>
