<!DOCTYPE html>
<html>
<head>
  <title>Small Steps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="content">
      <h1><%= link_to 'Small Steps', root_path %></h1>
      <div class="user-info login">
             <% if current_user %>
               Welcome, <%= current_user.first_name %>
               <%= link_to 'Signout', destroy_user_session_path, :method => :delete, :class => "button"%>
             <% else %>
               <%= link_to 'Signup', new_user_registration_path, :class => "button"%>
               <%= link_to 'Login', new_user_session_path, :class => "button" %>
             <% end %>
      </div>
    <div>
  </header>
  <div class="content" id="main">
    <nav>
      <% if current_user %>
      <%= link_to 'View My Projects', user_projects_path(current_user) %>
      <% else %>
        <%= link_to 'Login to View Projects', user_session_path %>
      <% end %>
      <%= link_to 'Start New Project', new_user_project_path(current_user) %>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
